svg {
    border: 1px solid black;
}

.search {
    padding: 6px 15px 6px 30px;
    margin: 3px;
    background: url('search.png') no-repeat 8px 6px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
    height: 700px;
    justify-content: center;
}

#force-graph {
    size: 2;
}

#game-info {
    size: 1;
    flex-grow: 1; 
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 700px;
    overflow-y: auto;
    flex-direction: column;
    justify-content: center;
}

#game-info > div:nth-child(n+1) {
    margin-top:20px;
}

.no-select :not(button) {
    user-select: none;
}

h2 {
    text-align: center;
}
