@font-face {
    font-family: tron;
    src: url(Tr2n.TTF);
}

body>div {
    margin-bottom: 100px;
}

svg {
    border-radius: 20px;
    border: 1px solid #6FC3DF;
    box-shadow: 0px 3px 19px 0px rgba(223, 247, 69, 0.5);

}


.vertical-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    height: 700px;
    justify-content: center;
}

#stacked-bar-container text {
    color: white;
    fill: white
}

.tick line {
    stroke: white;
}

#force-graph-container {
    flex-grow: 0;
}

#game-info {
    size: 1;
    flex-grow: 1;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 700px;
    overflow-y: auto;
    flex-direction: column;
    border-radius: 20px;
    background-color: black;
    border: 1px solid #6FC3DF;
    box-shadow: 0px 3px 19px 0px rgba(67, 247, 221, 0.5);
}

/* #game-info>div:nth-child(n+1) {
    margin-top: 20px;
} */

*:focus {
    outline: none;
}

#game-info div {
    align-items: center;
}

#game-info hr {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: gray;
    width: 80%;
    opacity: .2;
}

#game-info :not(button):not(.mdc-chip__text) {
    user-select: none;
    color: white;
}

#game-info button {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
}

/* Chip Set Styling */

.mdc-chip-set>div {
    background: #6FC3DF;
}

.mdc-chip__text {
    color: black;
}

/* Scrollbar Styling */
#game-info::-webkit-scrollbar {
    width: 6px;
    background-color: black;
}

#game-info::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 3px;
}

#game-info::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px black;
    background-color: black;
}

#title {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-family: tron;
    font-size: 70px;
    color: #6FC3DF;
}

.graph-title {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-family: tron;
    font-size: 50px;
    color: #6FC3DF;
}

body {
    background-color: black;
}

.link {
    stroke: white;
}

#textInput {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 500px;
    height: 60px;
    color: white;
    font-size: 20px;
    text-emphasis-color: white;
    padding: 6px 15px 6px 30px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;

    background: url(search.png) 2px 3px;
    background-repeat: no-repeat;
    background-position: 2px 3px;
    background-size: 10px 10px;
    box-shadow: 0px 3px 19px 0px rgba(255, 255, 255, 0.5);
}

.params {
    background: black;
    color: lightgrey;
    padding: 10px;
    font-size: 30px;
    margin: 10;
    border-radius: 10px;
    text-align-last: center;
    background-repeat: no-repeat;
    background-position: 2px 3px;
    background-size: 10px 10px;
    box-shadow: 0px 3px 19px 0px rgba(255, 255, 255, 0.5);

}

.param-containter {
    justify-content: center;

}